* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-size: 18px;
   font-family:'Open Sans', sans-serif;
}
.wrapper {
   width: 70%;
   max-width: 940px;
   margin: 0 auto;
}
.header {
   height: 100vh;
}
.nav {
   padding: 22px 0;
   border-bottom: 1px solid #828282;
   text-shadow: 1px 2px 2px #d4e3e7;
 }
 .menu {
   list-style-type: none;
   text-align: center;
 }
 .menu_item {
   display: inline-block;
   margin: 0 20px;
   cursor: pointer;
 }
 .menu_item:hover .menu_link {
   color: #070707;
 }
 .menu_link {
   text-decoration: none;
   color: #828282;
   text-shadow: 1px 2px 2px #d4e3e7;
   transition: color 0.2s;
 }
 .banner-info {
    font-weight: 700;
    margin: 40px 0;
 }
 .banner img {
    width: 100%;
 }
 section.about {
    padding: 105px 0 100px 0;
    background-color: #F6F6F6;
    text-align: center;
}
.about .tittle-2 {
   margin-bottom: 30px;
}
.about-info:nth-child(-n+3) {
   max-width: 480px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;
}
section.skills {
   padding: 100px 0 85px 0;
   text-align: center;
}
.skills .tittle-2 {
   margin-bottom: 40px;
}
.skills-info {
   margin-bottom: 80px;
}
.programs {
   text-align: center;
}
.photoshop, .illustrator, .a-effects, .figma {
   display: inline-block;
   width: 25%;
   margin-right: -4px;
}
.programs img {
   margin-bottom: 20px;
}
.programs-name {
   font-size: 14px;
   color: #828282;
   margin-bottom: 60px;
   height: 26px;
}
.stars img {
   width: 26px;
   height: 26px;
   margin: 0 4px 0 4px;
}
section.portfolio {
   padding: 118px 0 100px 0;
   background-color: #F6F6F6;
   text-align: center;
}
.store-img {
   margin-top: 70px;
}
.reebok-img {
   margin-top: 130px;
}
.braun-img {
   margin-top: 135px;
}
.store-info, .reebok-info, .braun-info {
   font-style: 18px;
   color: #070707;
   margin-top: 15px;
   text-decoration: underline;
}